<p><%= f.label :title, Spree::Post.human_attribute_name(:title) %></p>
<p><%= f.text_field :title %></p>
<p><%= f.label :description, Spree::Post.human_attribute_name(:description) %></p>
<p><%= f.text_area :description %></p>
<p><%= f.label :published, Spree::Post.human_attribute_name(:published) %></p>
<p><%= f.check_box :published %></p>

