%p
= f.label :title, Spree::Post.human_attribute_name(:title)
%p
= f.text_field :title
%p
= f.label :description, Spree::Post.human_attribute_name(:description)
%p
= f.text_area :description
%p
= f.label :published, Spree::Post.human_attribute_name(:published)
%p
= f.check_box :published

