=# render :partial => 'spree/admin/shared/configuration_menu'
%h1= t(:posts)
.new-post= button_link_to t("admin_posts.add_news"), new_object_url, :icon => 'add', :id => 'admin_new_post_link'

%table.index#listing_posts
  %thead
    %th= Spree::Post.human_attribute_name(:title)
    %th
    %th
  %tbody
    - @posts.each do |post|
      %tr
        %td= link_to post.title, object_url(post)
        %td= link_to_edit post
        %td= link_to_delete post

