= render :partial => 'spree/admin/shared/configuration_menu'
%h1 Posts
.new-post= button_link_to 'New Post', new_object_url, :icon => 'add', :id => 'admin_new_post_link'

%table.index#listing_posts
  %thead
    %th Name
    %th Text
    %th
    %th
  %tbody
    - @posts.each do |post|
      %tr
        %td=link_to post.title, object_url(post)
        %td= post.description.html_safe
        %td= link_to_edit post
        %td= link_to_delete post

