<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<h1>
  <%= t("admin_posts.add_news") %>
</h1>
<%= form_for [:admin, @post] do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
