%h1= "Showing News Post: #{@post.title}"
%p

%h4= "Title: #{@post.title}"
%h4= t(:description)
= @post.description

%p
= link_to_edit @post, :class => 'edit_slide'
= t(:or)
= link_to t(:back), collection_url
